@model HousingRecommendationSystem.Models.QuestionAndAnswerModel

@using (Html.BeginForm("SubmitAnswer", "Home", FormMethod.Post))
{
    ViewBag.Title = "Home Page";

<div class="jumbotron">
    <h1>Housing Recommendation System</h1>
    @{
        var data = ViewBag.Message;
    }
    <p class="lead">Q: @data.Question</p>

    @{
        foreach (var answer in @data.Answers)
        {
            @Html.RadioButtonFor(model => model.SelectedAnswer, (string) answer.AnswerId, new {@id = answer.AnswerId})
            <label for="@answer.AnswerId">@answer.DisplayText</label>
            @Html.Hidden("QuestionId", (string) data.QuestionId)
        }
    }
    <br/>
    <input type="submit" value="Next"/>
</div>

<div class="row">
</div>
}