@model HousingRecommendationSystem.Models.QuestionAndAnswerModel

@using HousingRecommendationSystem.Models;

@using (Html.BeginForm("SubmitAnswer", "Home", FormMethod.Post))
{
    ViewBag.Title = "Home Page";

    <div class="jumbotron">
        <h1>Housing Recommendation System</h1>
        @{
            var data = ViewBag.Message;
        }
        <p class="lead">Q: @data.Question.DisplayText</p>

        @{
            foreach (var answer in @data.Answers)
            {
                @Html.RadioButtonFor(model => model.SelectedAnswer, (string)answer.Id, new { @id = answer.Id })
                <label for="@answer.Id">@answer.DisplayText</label>
            }
            @Html.Hidden("State", (string)data.State)
        }
        <br />
        <input type="submit" value="Next" />


    </div>
}
@using (Html.BeginForm("Reset", "Home", FormMethod.Post))
{
    <input type="submit" value="Restart" />
}
<div class="row" />
